.PostContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
}

.Post {
  width: 330px;
  height: 450px;
  margin: 1%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: white;
}
.PostTitle {
  width: 70%;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  margin: 5%;
  margin-top: 10%;
  text-align: left;
}

.PostTexter {
  overflow: hidden;
  text-align: justify;
  color: #696969;
  font-size: 15px;
  line-height: 152.18%;
  margin-top: 3%;
  width: 70%;
}

.PostImage {
  width: 100%;
  height: 50%;
}

.Post:link {
  text-decoration: none;
}

.Post:visited {
  text-decoration: none;
}

.Post:hover {
  text-decoration: none;

  transform: scale(1.05);
}

.Post:active {
  text-decoration: none;
}

.Post:hover .PostImage {
  opacity: 0.9;
}
