.Boxed {
  border-radius: 25px;
  width: 110%;
  height: 120%;
  background-color: #c6a76a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696969;
  font-family: sans-serif;
  text-transform: capitalize;
}
