.mainContainer {
  background-color: white;
}

.main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1em + 1vw);
}
.fronPageBannerContainer {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}

h1 {
  letter-spacing: 3px;
  text-align: center;
  font-size: calc(2em + 1vw);
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  height: 100px;
}
