.mainContainer {
  background-color: white;
}

.main {
  margin: 0;
  padding: 0;
  width: 100vw;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(1em + 1vw);
}
.fronPageBannerContainer {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;
}
.componentElements {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  letter-spacing: 3px;
  text-align: center;
  font-size: calc(2em + 1vw);
  text-transform: uppercase;
  font-family: 'Helvetica', sans-serif;
  height: 60px;
}
h4 {
  font-weight: 300;
  height: 20px;
}
.videobox {
  width: 70%;
  height: 100%;
  background-color: black;
  border-radius: 25px;
}
