.ChallongeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 450px;
}

.MatchTitle {
  font-size: 23px;
  font-weight: 400;
  color: #696969;
  margin-bottom: 40px;
}
.NextMatchWrapper {
  margin-bottom: 10px;
  width: 100%;
}
.NextMatch {
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
  color: #696969;
  font-weight: 200;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.PreviousMatches {
  width: 100%;
}
.prevMatch {
  display: flex;
  font-size: 20px;
  color: #696969;
  font-weight: 200;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.Player {
  width: 100%;
  text-align: start;
}
.MatchLine {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  width: inherit;
  margin-bottom: 20px;
}

.PlayerScore {
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .ChallongeContainer {
    justify-content: center;
    align-items: center;
  }
  .NextMatch {
    font-size: 15px;
    padding-left: 20px;
  }
  .prevMatch {
    font-size: 15px;
    justify-content: space-evenly;
    padding-left: 20px;
  }
  .NextMatchWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .previousMatchWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .MatchLine {
    width: 90%;
  }
}
