.CompetitionView {
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TopBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CompetitionViewWrapper {
  margin-top: 50px;
}

.TopBoxImageContainer {
  justify-content: center;
  max-width: 40%;
}

.TopBoxImage {
  width: 100%;
}

.TopBoxTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopBoxWinnerDonation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
}
.TopBoxText {
  max-width: 100%;
  margin-bottom: 30px;
}
.TopBoxTextWinner {
  font-size: 46px;
  color: #c6a76a;
}
.TopBoxTextDonation {
  font-size: 40px;
  color: #c6a76a;
}
.TopBoxTextHeader {
  font-weight: bold;
  font-size: 25px;
  color: #696969;
}
.ParticipantsBox {
  max-width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 100px;
}
.MiddleBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.BottomBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.BottomBoxOrganization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.TopBoxParticipantsHeader {
  font-weight: bold;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  font-size: 25px;
  color: #696969;
}
.TopBoxParticipantsText {
  columns: 3 auto;
  width: 100%;
}
.TopBoxWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
.AboutTournamentBox {
  text-align: justify;
  text-align-last: left;
  word-wrap: break-word;
  width: 68%;
}
.BottomBoxSponsor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.BottomBoxSponsorText {
  color: black;
  font-size: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}
.BottomBoxSponsorImage {
  width: 12.5%;
  height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
}
.AboutBox {
  text-align: justify;
  text-align-last: left;
  word-wrap: break-word;
  display: inline-block;
  width: 68%;
}
.OrganizationPicture {
  width: 12%;
  height: auto;
  margin: 2%;
}

.ImageCarousel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 825px;
}
.CompentitionListContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.ListWrapper {
  width: 80%;
  margin-top: 60px;
}
.CompetitionListTile {
  margin-top: 40px;
  font-size: calc(2em + 1vw);
  color: #c6a76a;
}

@media only screen and (max-width: 768px) {
  .ImageCarousel {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .ReturnButton {
    top: 4%;
  }
  .ReturnButtonSticky {
    top: 4%;
    width: 90%;
  }

  .ReturnButtonSticky a {
    display: none;
  }

  .BottomBox {
    width: 100%;
  }

  .ReturnButtonSticky a:first-child {
    display: block;
  }

  .TopBoxImage {
    justify-content: center;
  }
  .TopBoxParticipantsText {
    columns: 2 auto;
  }
  .YearButton {
    display: none;
  }
  .BottomBoxSponsorImage {
    width: 50%;
  }
  .BottomBoxSponsor {
    margin-top: 7%;
  }
  .TopBoxWrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .BottomBoxOrganization {
    flex-direction: column;
  }
  .AboutBox {
    width: 100%;
  }
  .AboutTournamentBox {
    width: 100%;
  }
  .TopBoxImageContainer {
    margin-top: 100px;
    max-width: 100%;
  }
  .OrganizationPicture {
    width: 50%;
    padding: 1px;
  }
  h1 {
    transform: scale(0.6);
  }
}

a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
}
h1 {
  color: #c6a76a;
}
