.HeaderPadding {
  padding-top: 70px;
}

.Header {
  top: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(1em + 1vw);
  position: fixed;
  background-color: white;
  opacity: 0.95;
  z-index: 1;
}

.HeaderContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 55%;
  margin-right: 30px;
}
.MenuList {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.MenuLink {
  margin-left: 40px;
  text-decoration: none;
}
.HeaderNumberSix {
  font-weight: normal;
  color: #696969;
}
.MonsrudLogo {
  position: absolute;
  top: 0;
  left: 120px;
  margin: 2px;
}
.HamburgerBar {
  display: none;
}

@media only screen and (max-width: 768px) {
  .MenuList {
    display: block;
    position: absolute;
    top: 69px;
    background-color: white;
    width: 100%;
    left: 0;
  }
  .MenuLink {
    display: none;
  }
  .HamburgerBar {
    margin-top: 10px;
    background-color: inherit;
    border: none;
    display: block;
    align-self: flex-start;
  }

  .HamburgerMenu,
  .HamburgerMenuOpen {
    width: 40px;
    height: 30px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .HamburgerMenu span,
  .HamburgerMenuOpen span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: black;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .HamburgerMenu span:nth-child(1) {
    top: 0px;
  }

  .HamburgerMenu span:nth-child(2),
  .HamburgerMenu span:nth-child(3),
  .HamburgerMenuOpen span:nth-child(2),
  .HamburgerMenuOpen span:nth-child(3) {
    top: 12px;
  }

  .HamburgerMenu span:nth-child(4),
  .HamburgerMenuOpen span:nth-child(4) {
    top: 24px;
  }

  .HamburgerMenuOpen span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .HamburgerMenuOpen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .HamburgerMenuOpen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .HamburgerMenuOpen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
.HeaderDonateButton {
  position: absolute;
  left: 210px;
  margin: 6px;
  top: 0;
}
@media only screen and (max-width: 768px) {
  [class*='HeaderDonateButton'] {
    transform: scale(0.5);
    left: 0vw;
    position: relative;
    margin-top: 4vw;
  }
  .MonsrudLogo {
    left: 5vw;
    margin-top: 2vw;
  }
}
