.header-padding {
  padding-top: 70px;
}

.header {
  top: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(1em + 1vw);
  position: fixed;
  background-color: white;
  opacity: 0.95;
  z-index: 1;
}

.headerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 55%;
  margin-right: 30px;
}
.menuList {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.menuLink {
  margin-left: 40px;
  text-decoration: none;
}
h6 {
  font-weight: normal;
  color: black;
}
.monsrudLogo {
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
}
.hamburgerBar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .menuLink {
    display: none;
  }
  .hamburgerBar {
    display: block;
    align-self: flex-start;
  }
}
