.header {
  margin: 0;
  top: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(1em + 1vw);
  position: fixed;
  background-color: white;
  opacity: 0.95;
  z-index: 1;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 55%;
  max-width: 700px;
  margin-right: 30px;
}

.menuLink {
  text-decoration: none;
}
h6 {
  font-weight: normal;
  color: black;
}
.monsrudLogo {
  position: absolute;
  margin: 10px;
  top: 0;
  left: 0;
}
