@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f7f6;
}

.AppContent {
  margin-top: 90px;
}
